[app]
address = "0.0.0.0:9000"
workers = 1
batch_size = 1

[db]
host = "listmonk_db"
listmonk_db
port = 5432
user = "listmonk"
password = "listmonk"
database = "listmonk"
ssl_mode = "disable"
max_open = 25
max_idle = 25
max_lifetime = "300s"
params = ""

# SMTP configuration
[smtp]
  [smtp.gmail]
  enabled = true
  host = "smtp.gmail.com"
  port = "587"
  auth_protocol = "plain"
  username = "gabriella.sugarman@twosteps.ai"
  password = "taxm vrob sblu gzkr"   # Google App Password (16 chars, NOT normal Gmail password)
  hello_hostname = "localhost"
  send_timeout = 5000
  max_conns = 10
